* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-decoration: none;
    list-style: none;
} html {
    scroll-behavior: smooth;
} ::-webkit-scrobar {
    display: none;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}